/build/
/debug/
/dist/default/debug/
/dist/default/production/weatherStationUart.X.production.rlf
/dist/default/production/weatherStationUart.X.production.cmf
/dist/default/production/weatherStationUart.X.production.hxl
/dist/default/production/weatherStationUart.X.production.lst
/dist/default/production/memoryfile.xml
/dist/default/production/doprnt.i
/dist/default/production/weatherStationUart.X.production.o
/dist/default/production/doprnt.d
/dist/default/production/weatherStationUart.X.production.mum
/dist/default/production/weatherStationUart.X.production.sym
/dist/default/production/weatherStationUart.X.production.sdb
/dist/default/production/doprnt.p1
/nbproject/Makefile-impl.mk
/nbproject/Makefile-local-default.mk
/nbproject/private/
/nbproject/Package-default.bash
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-variables.mk
/nbproject/Makefile-default.mk